<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
        <h1>Test page</h1>

    <button ng-click="findMe()"> Find ME </button>
    <div id="maps" style="margin:0 auto; width: 800px; height: 500px; border: 1px solid chartreuse;">

    </div>


    <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
    </div>
     <div id="map" style="width:400px; height: 4000px; border: 3px solid darkgreen"></div>
</body>
</html>