<script type="text/ng-template" id="/components/group-profile/templates/editMemberProfileTpl.html"></script>


<div class="user-profile-container">
    <div class="row">
        <label> Name </label>
        <input ng-model="user.name" />
    </div>
    <div  class="row">
        <label> Interest </label>
        <input type="text" ng-model="user.interest" />
    </div>

    <div class="">
        <button ng-click="saveAction()">Save</button>
        <button ng-click="cancelAction()">Cancel</button>
    </div>
</div>
