<script type="text/ng-template" id="/components/group-profile/templates/groupProfileTpl.html"></script>
<ng-include src="'/components/homepage/templates/headerTpl.html'"></ng-include>

<div class="center-content group-profile-content">
    <div class="group-name">{{ group.name }}</div>
    <div
        class="member-item"
        ng-init="showDetails = false"
        ng-repeat="member in group.members">


        <div class="row">
            <div>
                <div ng-show="!member.isNew">{{ member.name }}</div>
                <input ng-show="member.isNew" placeholder="{{member.placeholder}}" ng-model="member.name"  />
            </div>

            <div>
                <button ng-click="showDetails =! showDetails">EDIT</button>
                <button ng-click="deleteUser(member)">DETELE</button>
            </div>

        </div>

         <div>
             <edit-member-profile
                     show="showDetails"
                     data="member"
                     ng-show="showDetails">
             </edit-member-profile>
         </div>

    </div>
    <button ng-click="addMember()">Add member</button>
</div>
