.customForm {
  /* Set a style for all buttons */
  /* Extra styles for the cancel button */
  /* Center the image and position the close button */
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button (x) */
  /* Add Zoom Animation */
}
.customForm .title {
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.customForm .show-modal {
  display: block;
}
.customForm .hide-modal {
  display: none;
}
.customForm input[type=text],
.customForm input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.customForm button {
  background-color: #3332af;
  color: #FFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.customForm .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: red;
}
.customForm .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.customForm img.avatar {
  width: 40%;
  border-radius: 50%;
}
.customForm .container {
  padding: 16px;
  background-color: #f1f1f1;
}
.customForm .modal {
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}
.customForm .modal-content {
  -webkit-border: 1px solid #888;
  -moz-border: 1px solid #888;
  border: 1px solid #888;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
}
.customForm .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.customForm .close:hover,
.customForm .close:focus {
  color: red;
  cursor: pointer;
}
.customForm .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (min-device-width: 1140px) {
  .customForm .modal-content {
    width: 50%;
  }
}
