<script type="text/ng-template" id="/components/travel/templates/travelComponent.html"></script>
<ng-include src="'/components/homepage/templates/headerTpl.html'"></ng-include>

<div class="travel-area">

  <div class="date-container">
    <div class="star-date">
      <label> Start date:</label>
      <input
        ng-model="travel.startDate"
        type="date"/>
    </div>
    <div class="end-date">
      <label> End date:</label>
      <input
        ng-model="travel.endDate"
        type="date"/>
    </div>
  </div>

  <div class="location-container">
    <div class="begin-location">
      <label> From:</label>
      <input ng-model="travel.location.begin">
    </div>
    <div class="end-location">
      <label> To: </label>
      <input ng-model="travel.location.end">
    </div>

    <div class="end-location" ng-if="false">
      <label> STEP : </label>
      <input ng-model="travel.location.step">
    </div>

  </div>


  <div class="action-container">
    <div>
      <button ng-click="saveTravel()">Save</button>
    </div>
  </div>
</div>

<div class="map-area" ng-show="showMap" >
  <div id="maps"></div>

  <div class="transport-class">
    <label>Metode</label>
    <select ng-options="label for label in modeTravel" ng-model="travel.selectedMode"></select>
  </div>

</div>

