<script type="text/ng-template" id="/components/homepage/templates/headerTpl.html"></script>
<header class="background-header">
    <ul class="header-container">
        <div>
            <img src="../../../public/images/logo.png">
        </div>
        <div class="header-category">
            <li class="header-item">
                <a href="/#/home">Home</a>
            </li>
            <li class="header-item">
                <a href="/#/group-profile">Profile</a>
            </li>
            <li class="header-item">
                <a href="/#/createTravel">Create travel</a>
            </li>
        </div>

        <div class="header-category">
            <li class="header-item" ng-click="pressSignup()"> Sign up</li>
            <li class="header-item" ng-click="pressSignin()"> Sign in</li>
        </div>

    </ul>
</header>