<script type="text/ng-template" id="/components/homepage/templates/homepageTpl.html"></script>

<custom-form
    class="customForm"
    show-modal="showpopup"
    data="data"
    close-action="close()"
    confirm-action="confirm(data)">
</custom-form>

<div class="main-area">
    <div class="row">
        <img src="../../../public/images/row1.jpg">
        <div class="message">
            Smart Tourist is an innovative application that will help a traveler to know more information about an unfamiliar place. This application would have a great impact also to citizen of city for knowing the touristic place of their town, shopping place and also financial help or hospital and pharmacy.
        </div>
    </div>
    <div class="row">
        <img src="../../../public/images/row2.jpg">
        <div class="message">
            This application is an easy solution for any traveler to be used in an efficient and quickly way to find any kind of information about the new place where is located. Also the application would have a friendly interface that can be used easily and the application will provide the right information in a quickly way.rouT application would have a car interface to be easily used when you drive to find quickly charger places, gas stations or shopping centers.
        </div>
    </div>
    <div class="row">
        <img src="../../../public/images/row3.png">
        <div class="message">
            On the other hand, this application have a implementation structure that is easy to reused the code and to add more module, is using robust architecture that will be a good way to reused the code all to replace a module with other.
        </div>
    </div>
</div>